{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Landing Section -->
<main class="container landing">
    <div class="row landing-row ">
        <!-- Landing Text-->
        <div class="col s12 m12 l12">
            <h1 class="home-heading">
                Speciality Grade, 
                <br>
                Ethically Sourced Coffee
            </h1>
            <h2 class=" logo-front">
                You deserve extraordinary coffee at home
            </h2>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3 ">
                        Shop Now
                    </a>
                </h4>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block content %}

    <!-- Our Products section -->
    <section class="container" id="product-section">
        <div class="row">
            <h2 class="product-h">Our Products</h2>
        </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'products' %}?category=beans,grounds,capsules" class="btn"><img src="/media/page_images/coffee-category.png" class="card-img-top" alt="Coffee Products">
                <div class="card-body">
                  <h3 class="card-title">COFFEE</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'products' %}?category=accessories,brewers,grinders" class="btn"><img src="/media/page_images/equipment-category.png" class="card-img-top" alt="Equipment Products">
                <div class="card-body">
                  <h3 class="card-title">EQUIPMENT</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'products' %}?category=taster_boxes,gift_boxes,subscriptions" class="btn"><img src="/media/page_images/speciality-category.png" class="card-img-top" alt="Speciality Products">
                <div class="card-body">
                  <h3 class="card-title">SPECIALITY</h3>
                </div></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Subscriptions -->
    <div class="container" id="subscription-section">
        <div class="row h-100">
            <div class="col-sm-12 col-md-6 ">
                <img src="#" class="" alt="">
            </div>
            <div class="col-sm-12 col-md-6">
                <h2 class="subscription-h">Subscription
                </h2>
                <p class="">
                    Thrill your taste buds with wtically sourced, hyper-fresh bean on repeat. Check out our Coffee on Subscription section!
                </p>
                <a class="btn btn-primary" href="#" role="button">Link</a>
            </div>
        </div>
    </div>

    <!-- Registration section -->
    <div class="container" id="register-section">
        <div class="row h-100">
            <div class="col-sm-12 col-md-6">
                <h2 class="registration-h">Registration
                </h2>
                <p class="">
                    fsdfsdfsdsfsdfsdfsdfsdfsdf
                </p>
                <a class="btn btn-primary" href="#" role="button">Link</a>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <img src="#" class="" alt="">
            </div>
        </div>
    </div>

     <!-- Footer -->
    <footer class="footer mt-5 pt-5 py-3 pb-5 bg-light">
        <div class="container">
          <span class="text-muted">Footer</span>
        </div>
    </footer>
{% endblock %}
