{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Heading-->
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Coffee Corner</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <!--  Section -->
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{% static '/images/our_story_img.png' %}" alt="" class="block-img">
            </div>
        
            <div class="col-12 col-md-6">
                <h3 class="block">Learn & Enjoy More</h3>
                <p>Our vision for the Coffee Corner is to be a place where you will learn more about your favourite coffee but also discover some new ideas to try. We want everyone to enjoy the same quality coffee at home as you would at any cafe.</p>
                <h4 class="smaller-heading">Some of the things you can expect to see in the Coffee Corner: </h4>
                <ul> 
                    <li class="coffee-list"><i class="fas fa-book"></i> Brewing Guide</li>
                    <li class="coffee-list"><i class="fas fa-info-circle"></i> Coffee Tips</li>
                    <li class="coffee-list"><i class="fas fa-mug-hot"></i> Coffee Recipies</li>
                </ul>
            </div>
      
      </div>
      <!-- Brewing Guides -->
      <div class="row">
        <div class="col-12">
            <div class="accordion " id="accordion-flush-brew-guide">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-brew-guide-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-brew-guide-collapseOne" aria-expanded="false" aria-controls="flush-brew-guide-collapseOne">
                        <h4 class="subtitle"> Brewing Guide</h4>
                    </button>
                  </h2>
                  <div id="flush-brew-guide-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-brew-guide-headingOne" data-bs-parent="#accordion-flush-brew-guide">
                    <div class="accordion-body container">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <!-- Aeropress -->
                            <div class="col">
                              <div class="h-100 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#aeropressopen">
                                    <img src="{% static 'images/aeropress-icon.png' %}" class="card-img-top" alt="">
                                    <h3 class="card-title">Aeropress</h3>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="aeropressopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="aeropressopenLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="aeropressopenLabel">Aeropress</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Chemex -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#chemexopen">
                                        <img src="{% static 'images/chemex-icon.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Chemex</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="chemexopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="chemexopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="chemexopenLabel">Chemex</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <!-- Espresso -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#espressoopen">
                                        <img src="{% static 'images/espresso-icon.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Espresso</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="espressoopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="espressoopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="espressoopenLabel">Espresso</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <!-- Frenchpress -->
                            <div class="col">
                              <div class="h-100 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#frenchpressopen">
                                    <img src="{% static 'images/frenchpress-icon.png' %}" class="card-img-top" alt="">
                                    <h3 class="card-title">Frenchpress</h3>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="frenchpressopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="frenchpressopenLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="frenchpressopenLabel">Frenchpress</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Moka Pot -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#mokapotopen">
                                        <img src="{% static 'images/mokapot-icon.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Moka Pot</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="mokapotopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mokapotopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="mokapotopenLabel">Moka Pot</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <!-- V60 -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#v60open">
                                        <img src="{% static 'images/v60-icon.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">V60</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="v60open" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="v60openLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="v60openLabel">V60</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <!-- Coffee Tips -->
      <div class="row">
        <div class="col-12">
            <div class="accordion " id="accordion-coffee-tips">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-coffee-tips">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-coffee-tipsOne" aria-expanded="false" aria-controls="flush-coffee-tipsOne">
                        <h4 class="subtitle">Coffee Tips</h4>
                    </button>
                  </h2>
                  <div id="flush-coffee-tipsOne" class="accordion-collapse collapse" aria-labelledby="flush-coffee-tips" data-bs-parent="#accordion-coffee-tips">
                    <div class="accordion-body container">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <!-- How to Store Coffee Beans -->
                            <div class="col">
                              <div class="h-100 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#storingopen">
                                    <img src="{% static 'images/store-icon.png' %}" class="card-img-top" alt="">
                                    <h3 class="card-title">How to Store Coffee Beans</h3>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="storingopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="storingopenLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="storingopenLabel">How to Store Coffee Beans</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- When the grind matters -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#grindopen">
                                        <img src="{% static 'images/grind-icon.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">When the grind matters</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="grindopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="grindopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="grindopenLabel">When the grind matters</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <!-- Flavour Coffee with Spices -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#spicesopen">
                                        <img src="{% static 'images/spice-icon.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Flavour Coffee with Spices</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="spicesopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="spicesopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="spicesopenLabel">Flavour Coffee with Spices</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
       <!-- Coffee Recipies -->
       <div class="row">
        <div class="col-12">
            <div class="accordion " id="accordion-coffee-recipies">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-coffee-recipies">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-coffee-recipiesOne" aria-expanded="false" aria-controls="flush-coffee-recipiesOne">
                        <h4 class="subtitle">Coffee Recipies</h4>
                    </button>
                  </h2>
                  <div id="flush-coffee-recipiesOne" class="accordion-collapse collapse" aria-labelledby="flush-coffee-recipies" data-bs-parent="#accordion-coffee-recipies">
                    <div class="accordion-body container">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <!-- Americano -->
                            <div class="col">
                              <div class="h-100 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#americaoopen">
                                    <img src="{% static 'images/americano.png' %}" class="card-img-top" alt="">
                                    <h3 class="card-title">Americano</h3>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="americaoopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="americaoopenLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="americaoopenLabel">Americano</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Cappucino -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#cappucinoopen">
                                        <img src="{% static 'images/cappucino.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Cappucino</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="cappucinoopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cappucinoopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="cappucinoopenLabel">Cappucino</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <!-- Expresso -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#expressoopen">
                                        <img src="{% static 'images/espresso.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Expresso</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="expressoopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="expressoopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="expressoopenLabel">Expresso</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <!-- Flat White -->
                            <div class="col">
                              <div class="h-100 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#flatwhiteopen">
                                    <img src="{% static 'images/flat-white.png' %}" class="card-img-top" alt="">
                                    <h3 class="card-title">Americano</h3>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="flatwhiteopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="flatwhiteopenLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="flatwhiteopenLabel">Flat White</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Latte -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#latteopen">
                                        <img src="{% static 'images/latte.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Latte</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="latteopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="latteopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="latteopenLabel">Latte</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <!-- Macchiato -->
                            <div class="col">
                                <div class="h-100 ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#macchiatoopen">
                                        <img src="{% static 'images/macchiato.png' %}" class="card-img-top" alt="">
                                        <h3 class="card-title">Macchiato</h3>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="macchiatoopen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="macchiatoopenLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="macchiatoopenLabel">Macchiato</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            ...
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      </section>

    <hr>

    <!-- Our Connect & Learn section -->
    <section class="container connect-section" >
        <div class="row">
            <h2 class="connect-h">Connect & Learn</h2>
        </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="#" class="btn"><img src="{% static 'images/coffee_corner.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">Visit the Coffee Corner</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'faq' %}" class="btn"><img src="{% static 'images/faq.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">FAQ</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'contact_us' %}" class="btn"><img src="{% static 'images/contact_us.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">Contact Us</h3>
                </div></a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}


