{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Heading-->
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Coffee Corner</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <!-- About Section -->
    <main class="container pt-5 ">
        <div class="row">
            <div class="col-12 col-md-6">
            </div>   
        </div>
    </main>

    <hr>

    <!-- Our Connect & Learn section -->
    <section class="container connect-section" >
        <div class="row">
            <h2 class="connect-h">Connect & Learn</h2>
        </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="#" class="btn"><img src="{% static 'images/coffee_corner.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">Visit the Coffee Corner</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'faq' %}" class="btn"><img src="{% static 'images/faq.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">FAQ</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'contact_us' %}" class="btn"><img src="{% static 'images/contact_us.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">Contact Us</h3>
                </div></a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}


