{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Thread
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Navigation -->
        <div class="row">
            <div class="col">
                <a href="{% url 'forum' %}" class="link-text">Forum</a> 
                >> <strong> Thread </strong>
            </div>
        </div>
        <!-- Heading -->
        <div class="row pb-4">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Thread</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <!-- Back Button -->
        <div class="row pb-4">
            <div class="col">
                <a href="{% url 'forum' %}" class="btn action-btn"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Forum</a>
            </div>
        </div>
    </div>
    
    <!-- Thread Box -->
    <div class="container ">
        <div class="row thread main-thread ms-3 me-3">
            <div class="col">
                <h3>Thread Title </h3>
                <p>By: on </p>
                <p>Thread Message</p>
            </div>
        </div>
        <div class="row m-3 text-end">
            <div class="col">
                <a class="btn action-btn" href="{% url 'add_comment' %}">Add a comment
                    <i class="fas fa-plus ps-1"></i>
                </a>
            </div>
        </div>
        <div class="row me-3 text-end">
            <div class="col">
                <p>Comment Count</p>
            </div>
        </div>
    </div>

    <!-- Comment for thread-->
    <div class="container">
        <div class="row thread m-3">
            <div class="col">
                <p>Comment By: on </p>
                <p>Comment Message</p>
            </div>
        </div>
    </div>


{% endblock %}