/* --------------------------------------------------- */
/*                  ROOT VARIABLES                     */
/* --------------------------------------------------- */

:root {
  --PrimaryBrand: #E47068;
  --SecondaryBrand: #e7827b;
  --TertiaryBrand: #eb948e;
  --DarkShades: #343E47;
  --DarkAccent: #343E47;
  --LightAccent: #9596A1;
  --Accent: #a26b25;
  --Dark: #242020;
  --Light: #E1E8EA;
  --bgWhite: #FFFEFC;
  --ExtraLight: #F4F3F3 ;
  --Text: #333e47;
  --SubtleText: #999999;
  --Success: #6fab69;
  --Error: #f44336;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: var(--bgWhite);
  box-shadow: 0 1px 3px 0 var(--ExtraLight);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-group {
  margin-bottom: 1rem;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 var(--Light);
}

.StripeElement--webkit-autofill {
  background-color: var(--bgWhite) !important;
}

.stripe-style-input::placeholder {
  color: var(--LightAccent);
  color: var(--SubtleText);
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form .form-control,
#card-element {
  color: var(--Dark);
  border: 1px solid var(--Dark);
}

select,
select option {
  color: var(--DarkAccent);
}

select:invalid,
select option[value=""] {
  color: var(--LightAccent) !important;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 62, 71,0.85);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}