{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Heading-->
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Contact Us</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-12 col-md-6">
              <div class="contact-form-wrapper mx-auto my-3">
                  <form id="contact-form" method="POST">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          <h3 class="">Get in touch</h3>
                          <p>Got a question, comment or just want to say hi? We would love to hear from you!</p>
                          {{ contact_form|crispy }}
                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn-secondary m-0" type="submit">Send</button>
                      </div>
                  </form>
  
              </div>
          </div>
      </div>
  </div>

    <!-- Our Connect & Learn section -->
    <section class="container connect-section" >
        <div class="row">
            <h2 class="connect-h">Connect & Learn</h2>
        </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="#" class="btn"><img src="/media/page_images/coffee_corner.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">Visit the Coffee Corner</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'faq' %}" class="btn"><img src="/media/page_images/faq.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">FAQ</h3>
                </div></a>
          </div>
        </div>
        <div class="col">
          <div class="h-100 hvr-grow">
            <a href="{% url 'contact_us' %}" class="btn"><img src="/media/page_images/our_story.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h3 class="card-title">Our Story</h3>
                </div></a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}