{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Heading-->
<div class="container">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Contact Us</h2>
      <hr class="w-100 mb-1">
    </div>
  </div>
</div>
<!-- Contact Form-->
<main class="container">
  <div class="row pt-3">
    <div class="col-12 col-md-6">
      <img class="block-connect-img" src="{% static 'images/contact_us_page.png' %}" alt="">
    </div>
    <div class="col-12 col-md-6">
      <form id="contact-form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group mt-3">
          <h3 class="">Get in touch</h3>
          <p>Got a question, comment or just want to say hi? We would love to hear from you!</p>
          {{ form|crispy }}
        </fieldset>
        <div class="form-actions form-group mt-4 text-end">
          <button class="btn action-btn btn-lg" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</main>
<!-- Our Connect & Learn section -->
<section class="container connect-section">
  <div class="row">
    <h2 class="connect-h">Connect & Learn</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="h-100 hvr-grow">
        <a href="{% url 'coffee_corner' %}" class="btn"><img src="{% static 'images/coffee_corner.png' %}"
            class="card-img-top" alt="Coffee, clock and flower vase">
          <div class="card-body">
            <h3 class="card-title">Visit the Coffee Corner</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="h-100 hvr-grow">
        <a href="{% url 'faq' %}" class="btn"><img src="{% static 'images/faq.png' %}" class="card-img-top"
            alt="Clipboard with Coffee">
          <div class="card-body">
            <h3 class="card-title">FAQ</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="h-100 hvr-grow">
        <a href="{% url 'our_story' %}" class="btn"><img src="{% static 'images/our_story.png' %}" class="card-img-top"
            alt="3 Spoons with coffee">
          <div class="card-body">
            <h3 class="card-title">Our Story</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}