{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Products
{% endblock %}

{% block page_header %}
<div class="container product-landing ">
    <div class="row landing-row ">
        <div class="col s12 m12 l12">
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Search Bar -->
    <div class="row p-5">
        <div class="col-12 col-lg-4 position-absolute start-50 translate-middle">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border  rounded-2" type="text" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control btn search-btn rounded-2 " type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Heading-->
    <div class="row ">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Our Coffee Products </h2>

            <hr class="w-100 mb-1">
        </div>
    </div>
    <!-- Current Categories -->
    <div class="row">
        <div class="col text-center mt-3">
            {% for c in current_categories %}
            <a class="link-text category-badge " href="{% url 'products' %}?category={{ c.name }}">
                <span class="">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- Filter-->
    <div class="row product-filter">
        <div class="col-12 ">
            <ul class="nav nav-pills w-auto ">
                <li class="nav-item dropdown d-block" aria-labelledby="all-products-filter-link">
                    <a class="product-sort nav-link dropdown-toggle mr-5" data-bs-toggle="dropdown" href="#"
                        role="button" aria-expanded="false" id="all-products-filter-link">All Products</a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Pricing</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By
                                Category</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown " aria-labelledby="coffee-filter-link">
                    <a class="product-sort nav-link dropdown-toggle mr-5" data-bs-toggle="dropdown" href="#"
                        role="button" aria-expanded="false" id="coffee-filter-link">Coffee</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=beans">Beans</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=grounds">Grounds</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=capsules">Capsules</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=beans,grounds,capsules">All
                                Coffee</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown " aria-labelledby="equipment-filter-link">
                    <a class="product-sort nav-link dropdown-toggle mr-5" data-bs-toggle="dropdown" href="#"
                        role="button" aria-expanded="false" id="equipment-filter-link">Equipment</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">Accessories</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=brewers">Brewers</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=grinders">Grinders</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?category=accessories,brewers,grinders">All Equipment</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown " aria-labelledby="speciality-filter-link">
                    <a class="product-sort nav-link dropdown-toggle mr-5" data-bs-toggle="dropdown" href="#"
                        role="button" aria-expanded="false" id="speciality-filter-link">Speciality</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=taster_boxes">Taster Boxes</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=gift_boxes">Gift Boxes</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?category=subscriptions">Subscriptions</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?category=taster_boxes,gift_boxes,subscriptions">All
                                Speciality</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <!-- Products -->
    <div class="row pb-2 mb-5">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <!-- Product sorting -->
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="sort-box custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span><a href="{% url 'products' %}" class="link-text">See All Products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in page_obj %}
                <div class="col-sm-6 col-md-6 col-xl-3">
                    <!-- Product cards -->
                    <div class="card h-100 border-0">
                        <!-- Product image -->
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <!-- Product heading -->
                        <div class="card-body pb-0 ps-5">
                            <h3 class="mb-1 smaller-heading product-card-h">
                                {{ product.name }}
                            </h3>
                        </div>
                        <!-- Product description -->
                        <div class="card-footer pt-0 border-0 text-left ps-5">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">From €{{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="link-text"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            {{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.intensity %}
                                    <small class="text-muted">
                                        Intesity: {{ product.intensity }} / 5
                                    </small>
                                    {% else %}
                                    <small class="text-muted">
                                    </small>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                    <div class="ml-3">
                                        <a href="{% url 'edit_product' product.id %}" class="btn action-btn btn-sm">Edit</a>
                                        <a class="btn alt-action-btn btn-sm " href="{% url 'delete_product' product.id %}">Delete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Pagination from Bootstrap and Django Documentation -->
            <nav aria-label="Page navigation">
                <ul class="pagination  justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"> <a class="page-link link-text" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"> <a class="page-link link-text"
                            href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="current page-link link-text">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link link-text"
                            href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"> <a class="page-link link-text"
                            href="?page={{ page_obj.paginator.num_pages }}">last
                            &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Scroll up button -->
<button id="scrollButton" title="Go to top">
    <i class="fas fa-angle-double-up scrollup-arrow"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Page scroll up feature for resource page
    /* Orginal code from with modifications for project:
     https://stackoverflow.com/questions/14249998/jquery-back-to-top and https://www.tutorialrepublic.com/faq/how-to-scroll-to-the-top-of-the-page-using-jquery.php */
    $(window).scroll(function () {
        if ($(this).scrollTop()) {
            $('#scrollButton').fadeIn();
        } else {
            $('#scrollButton').fadeOut();
        }
    });

    $("#scrollButton").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "fast");
    });
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}